@charset "utf-8";
/* CSS Document */
body{background-color:#4198ce;}
#div1 {border:1px solid #ccc;width:762px; height:452px; background:rgba(255,255,255,0.4); position:absolute; z-index:2; left:50%; top:80px; margin-left:-381px;}
#img {width:700px; height:400px; background:url(../imgs/1.jpg) center no-repeat; position:absolute; left:31px; top:26px;}
#btns {width:762px; margin:10px auto; text-align:center; position:absolute; z-index:1; border-bottom:10px; bottom:-100px;}
#btns input {width:136px; height:64px; font-size:30px; font-family:"华文新魏"; border:1px solid rgba(0,0,0,0.4); border-radius:5px; box-shadow:inset 0 1px 0px rgba(255,255,255,0.9); text-shadow:0 -1px 1px black; color:rgba(255,255,255,1);}