@charset "UTF-8";
ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

.icon-list {
  margin-top: 1rem; }
  .icon-list .item {
    display: inline-block;
    float: left;
    width: 33%;
    margin: 1rem 0;
    text-align: center;
    cursor: pointer; }
    .icon-list .item a {
      display: block;
      color: #333; }
    .icon-list .item .icon {
      display: inline-block;
      width: 80%; }
      .icon-list .item .icon img {
        width: 100%;
        border-radius: 100%; }
    .icon-list .item span {
      margin-top: 0.5rem;
      display: inline-block; }

.home-icons .item .icon img {
  border: 1px solid #4289e8; }
.home-icons .item:nth-child(2) img, .home-icons .item:nth-child(5) img, .home-icons .item:nth-child(8) img {
  border-color: #87c135; }
.home-icons .item:nth-child(4) img, .home-icons .item:nth-child(6) img {
  border-color: #ecc62e; }

.sub-index {
  background: url(../img/bg-subpage.png) right bottom no-repeat;
  background-size: 100%; }

.sub-list {
  background: #eee; }

.wrap {
  background: #fff;
  padding: 0 4%;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #f0f0f0; }
  .wrap img {
    width: 100%; }
  .wrap .news-slide {
    position: relative;
    margin-top: 0.5rem; }
    .wrap .news-slide a span {
      position: absolute;
      padding: 0.5rem;
      bottom: 0;
      color: #fff;
      display: block;
      background: rgba(0, 0, 0, 0.5); }
  .wrap .news-pic-multiple:before, .wrap .news-pic-multiple:after {
    content: "";
    display: table; }
  .wrap .news-pic-multiple:after {
    clear: both; }
  .wrap .news-pic-multiple img {
    width: 100%;
    margin-bottom: 0.5rem; }
  .wrap .news-pic-multiple .item {
    display: inline-block;
    margin: .5rem 1%;
    float: left;
    width: 48%;
    text-align: center; }
    .wrap .news-pic-multiple .item a {
      color: #333; }
  .wrap .pic-scroll-list:before, .wrap .pic-scroll-list:after {
    content: "";
    display: table; }
  .wrap .pic-scroll-list:after {
    clear: both; }
  .wrap .pic-scroll-list img {
    width: 100%;
    margin-bottom: 0.5rem; }
  .wrap .pic-scroll-list .item {
    display: inline-block;
    margin: 1rem 1%;
    float: left;
    width: 31%;
    text-align: center; }
    .wrap .pic-scroll-list .item a {
      color: #333; }
      .wrap .pic-scroll-list .item a span {
        font-size: 1.2rem; }
  .wrap .pic-span3-list:before, .wrap .pic-span3-list:after {
    content: "";
    display: table; }
  .wrap .pic-span3-list:after {
    clear: both; }
  .wrap .pic-span3-list img {
    width: 100%;
    margin-bottom: 0.5rem; }
  .wrap .pic-span3-list .item {
    display: inline-block;
    margin: 1rem 1%;
    float: left;
    width: 31%;
    text-align: center; }
    .wrap .pic-span3-list .item a {
      color: #333; }
      .wrap .pic-span3-list .item a span {
        font-size: 1.2rem; }
  .wrap .list-desc .item {
    padding: .5rem 0;
    border-bottom: 1px dotted #e8e8e8; }
    .wrap .list-desc .item:last-child {
      border-bottom: none; }
  .wrap .list-desc .title {
    margin-top: .5rem;
    font-size: 1.8rem; }
    .wrap .list-desc .title span {
      margin-right: .5rem; }
    .wrap .list-desc .title a {
      color: #333; }
  .wrap .list-desc .desc {
    margin: .5rem 0; }
  .wrap .list-title .item {
    text-indent: -1rem;
    padding: .5rem 0 .5rem 1.5rem;
    border-bottom: 1px dotted #e8e8e8; }
    .wrap .list-title .item:last-child {
      border-bottom: none; }
    .wrap .list-title .item span {
      margin-right: .5rem; }
    .wrap .list-title .item a {
      color: #333; }
    .wrap .list-title .item:before {
      content: "•"; }
  .wrap .list-pic-desc .item {
    padding: .5rem 0; }
  .wrap .list-pic-desc img {
    width: 100%; }
  .wrap .list-pic-desc .pic {
    width: 18%;
    margin-top: 0.5rem;
    float: left; }
  .wrap .list-pic-desc .bd {
    margin-left: 20%; }
  .wrap .list-pic-desc .title {
    font-weight: normal; }
    .wrap .list-pic-desc .title a {
      color: #000; }
  .wrap .list-pic-desc .desc {
    margin: .5rem 0;
    color: #333;
    font-size: 1.4rem; }

.news-list-primary .hd {
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
  padding-left: 2rem;
  margin-bottom: .5rem;
  color: #2283e6;
  font-size: 2rem;
  font-weight: bolder;
  border-bottom: 2px solid #2283e6; }
  .news-list-primary .hd .square {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    background: #2283e6;
    z-index: 2; }
    .news-list-primary .hd .square:nth-child(2) {
      z-index: 1;
      left: .7rem;
      top: 1.75rem;
      width: .8rem;
      height: .8rem;
      background: #cacaca; }
  .news-list-primary .hd .more {
    position: absolute;
    right: 0;
    font-weight: normal;
    font-size: 1.4rem;
    color: #2283e6; }
.news-list-primary .bd a {
  color: #2283e6; }
.news-list-primary .bd span {
  color: #2283e6; }
.news-list-primary .bd .title span {
  color: #2283e6; }
.news-list-primary .bd .list-title .item span {
  color: #2283e6; }
.news-list-primary .bd .list-title .item:before {
  color: #2283e6; }

.news-list-secondary .hd {
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
  padding-left: 2rem;
  margin-bottom: .5rem;
  color: #70b00a;
  font-size: 2rem;
  font-weight: bolder;
  border-bottom: 2px solid #70b00a; }
  .news-list-secondary .hd .square {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    background: #70b00a;
    z-index: 2; }
    .news-list-secondary .hd .square:nth-child(2) {
      z-index: 1;
      left: .7rem;
      top: 1.75rem;
      width: .8rem;
      height: .8rem;
      background: #cacaca; }
  .news-list-secondary .hd .more {
    position: absolute;
    right: 0;
    font-weight: normal;
    font-size: 1.4rem;
    color: #70b00a; }
.news-list-secondary .bd a {
  color: #70b00a; }
.news-list-secondary .bd span {
  color: #70b00a; }
.news-list-secondary .bd .title span {
  color: #70b00a; }
.news-list-secondary .bd .list-title .item span {
  color: #70b00a; }
.news-list-secondary .bd .list-title .item:before {
  color: #70b00a; }

.news-list-red .hd {
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
  padding-left: 2rem;
  margin-bottom: .5rem;
  color: #ea6461;
  font-size: 2rem;
  font-weight: bolder;
  border-bottom: 2px solid #ea6461; }
  .news-list-red .hd .square {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    background: #ea6461;
    z-index: 2; }
    .news-list-red .hd .square:nth-child(2) {
      z-index: 1;
      left: .7rem;
      top: 1.75rem;
      width: .8rem;
      height: .8rem;
      background: #cacaca; }
  .news-list-red .hd .more {
    position: absolute;
    right: 0;
    font-weight: normal;
    font-size: 1.4rem;
    color: #ea6461; }
.news-list-red .bd a {
  color: #ea6461; }
.news-list-red .bd span {
  color: #ea6461; }
.news-list-red .bd .title span {
  color: #ea6461; }
.news-list-red .bd .list-title .item span {
  color: #ea6461; }
.news-list-red .bd .list-title .item:before {
  color: #ea6461; }

.news-list-orange .hd {
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
  padding-left: 2rem;
  margin-bottom: .5rem;
  color: #fb8302;
  font-size: 2rem;
  font-weight: bolder;
  border-bottom: 2px solid #fb8302; }
  .news-list-orange .hd .square {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    background: #fb8302;
    z-index: 2; }
    .news-list-orange .hd .square:nth-child(2) {
      z-index: 1;
      left: .7rem;
      top: 1.75rem;
      width: .8rem;
      height: .8rem;
      background: #cacaca; }
  .news-list-orange .hd .more {
    position: absolute;
    right: 0;
    font-weight: normal;
    font-size: 1.4rem;
    color: #fb8302; }
.news-list-orange .bd a {
  color: #fb8302; }
.news-list-orange .bd span {
  color: #fb8302; }
.news-list-orange .bd .title span {
  color: #fb8302; }
.news-list-orange .bd .list-title .item span {
  color: #fb8302; }
.news-list-orange .bd .list-title .item:before {
  color: #fb8302; }

.news-list-purple .hd {
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
  padding-left: 2rem;
  margin-bottom: .5rem;
  color: #6666cc;
  font-size: 2rem;
  font-weight: bolder;
  border-bottom: 2px solid #6666cc; }
  .news-list-purple .hd .square {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    background: #6666cc;
    z-index: 2; }
    .news-list-purple .hd .square:nth-child(2) {
      z-index: 1;
      left: .7rem;
      top: 1.75rem;
      width: .8rem;
      height: .8rem;
      background: #cacaca; }
  .news-list-purple .hd .more {
    position: absolute;
    right: 0;
    font-weight: normal;
    font-size: 1.4rem;
    color: #6666cc; }
.news-list-purple .bd a {
  color: #6666cc; }
.news-list-purple .bd span {
  color: #6666cc; }
.news-list-purple .bd .title span {
  color: #6666cc; }
.news-list-purple .bd .list-title .item span {
  color: #6666cc; }
.news-list-purple .bd .list-title .item:before {
  color: #6666cc; }

.news-list-green .hd {
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
  padding-left: 2rem;
  margin-bottom: .5rem;
  color: #6fb666;
  font-size: 2rem;
  font-weight: bolder;
  border-bottom: 2px solid #6fb666; }
  .news-list-green .hd .square {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    background: #6fb666;
    z-index: 2; }
    .news-list-green .hd .square:nth-child(2) {
      z-index: 1;
      left: .7rem;
      top: 1.75rem;
      width: .8rem;
      height: .8rem;
      background: #cacaca; }
  .news-list-green .hd .more {
    position: absolute;
    right: 0;
    font-weight: normal;
    font-size: 1.4rem;
    color: #6fb666; }
.news-list-green .bd a {
  color: #6fb666; }
.news-list-green .bd span {
  color: #6fb666; }
.news-list-green .bd .title span {
  color: #6fb666; }
.news-list-green .bd .list-title .item span {
  color: #6fb666; }
.news-list-green .bd .list-title .item:before {
  color: #6fb666; }

.news-list-pic .item {
  padding: 1rem 0;
  border-bottom: 1px solid #e4e4e3; }
.news-list-pic img {
  width: 100%; }
.news-list-pic .pic {
  width: 30%;
  margin: .5rem;
  float: left; }
.news-list-pic .bd {
  margin-left: 35%;
  margin-right: 0.5rem; }
.news-list-pic .title {
  font-weight: bolder; }
  .news-list-pic .title span {
    color: #e58f08; }
  .news-list-pic .title a {
    color: #000; }
.news-list-pic .desc {
  margin: .5rem 0;
  color: #333;
  font-size: 1.4rem; }
  .news-list-pic .desc a {
    color: #2283e6; }
.news-list-pic .date {
  display: inline-block;
  float: right;
  text-align: right;
  font-size: 1.2rem;
  margin: 0;
  margin-top: .25rem;
  color: #ababaa; }
  .news-list-pic .date i {
    display: inline-block;
    vertical-align: -2px;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .25rem;
    background: url(../img/ico-date.png) no-repeat;
    background-size: 100%; }

.news-list-text .item {
  padding: 1rem;
  border-bottom: 1px solid #e4e4e3; }
.news-list-text .title {
  font-weight: bolder; }
  .news-list-text .title span {
    color: #e58f08; }
  .news-list-text .title a {
    color: #000; }
.news-list-text .desc {
  margin: .5rem 0;
  color: #333;
  font-size: 1.4rem; }
  .news-list-text .desc a {
    color: #2283e6; }
.news-list-text .date {
  display: inline-block;
  float: right;
  text-align: right;
  font-size: 1.2rem;
  margin: 0;
  margin-top: .25rem;
  color: #ababaa; }
  .news-list-text .date i {
    display: inline-block;
    vertical-align: -2px;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .25rem;
    background: url(../img/ico-date.png) no-repeat;
    background-size: 100%; }

.detail-area {
  padding: 0 4%; }
  .detail-area .title {
    margin: 1rem 0;
    text-align: center;
    font-size: 2rem;
    color: #000; }
  .detail-area .hd {
    padding-top: 2rem;
    position: relative; }
    .detail-area .hd span {
      position: absolute;
      left: 1rem;
      bottom: -1rem;
      display: inline-block;
      font-size: 1.4rem;
      line-height: 1.4rem;
      color: #fff;
      border-radius: 5rem;
      padding: .25rem 1.75rem; }
    .detail-area .hd .more {
      position: absolute;
      right: 1rem;
      top: 0;
      font-size: 1.4rem;
      color: #595959; }
  .detail-area .bd {
    padding: 2rem 1rem 1rem 1rem;
    border-radius: .5rem;
    font-size: 1.4rem;
    margin-bottom: 1rem; }

.detail-area-about .hd span {
  background: #2283e6; }
.detail-area-about .bd {
  border: 1px solid #2283e6; }
.detail-area-about .bd {
  font-size: 1.4rem; }
  .detail-area-about .bd .pic {
    text-align: center; }
    .detail-area-about .bd .pic img {
      width: 80%; }

.detail-area-contact .hd span {
  background: #71b030; }
.detail-area-contact .bd {
  border: 1px solid #71b030; }
.detail-area-contact .bd {
  color: #595959; }
  .detail-area-contact .bd label {
    color: #000;
    font-weight: normal; }
  .detail-area-contact .bd p {
    margin: 0; }

.detail-area-news-date .hd span {
  background: #eaa52e; }
.detail-area-news-date .bd {
  border: 1px solid #eaa52e; }
.detail-area-news-date .bd li {
  margin: 0.5rem; }
.detail-area-news-date .bd span {
  float: right;
  color: #ababaa; }
.detail-area-news-date .bd a {
  color: #2283e6; }

.detail-area-news .hd span {
  background: #f43d42; }
.detail-area-news .bd {
  border: 1px solid #f43d42; }
.detail-area-news .bd li {
  margin: 0.5rem; }
.detail-area-news .bd a {
  color: #2283e6; }

.area-list {
  padding: 1rem 4%; }
  .area-list .item {
    color: #333;
    display: block;
    float: left;
    width: 50%;
    height: 9rem;
    vertical-align: top;
    border-bottom: 1px dotted #efefef;
    border-right: 1px dotted #efefef; }
    .area-list .item:nth-child(even) {
      border-right: 0; }
    .area-list .item .icon {
      width: 40%;
      display: inline-block;
      float: left;
      margin-top: 1.5rem;
      margin-left: .5rem;
      margin-right: .5rem; }
      .area-list .item .icon img {
        width: 100%; }
    .area-list .item p {
      color: #333;
      font-size: 1.6rem;
      margin-left: 50%;
      margin-top: 2rem; }
      .area-list .item p span {
        font-size: 1.4rem;
        color: #999; }

.detail-zone .title {
  margin: 1rem 0;
  text-align: center;
  font-size: 2rem;
  color: #000; }
.detail-zone .hd {
  position: relative;
  height: 2.5rem;
  background: #e6e6e6; }
  .detail-zone .hd span {
    display: inline-block;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 0 .5rem .5rem 0;
    color: #fff; }
  .detail-zone .hd i {
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1rem .5rem 0; }
.detail-zone .bd {
  padding-bottom: 1rem;
  font-size: 1.4rem; }
.detail-zone .item {
  padding: 1rem 4%;
  border-bottom: 1px solid #d9d9d9; }
  .detail-zone .item:last-child {
    border-bottom: 0; }
  .detail-zone .item img {
    width: 30%;
    float: left;
    margin-right: 1rem;
    margin-top: .5rem; }
  .detail-zone .item .name {
    margin: .5rem 0;
    font-weight: normal;
    color: #000; }
  .detail-zone .item p {
    color: #595959;
    margin: 0; }

.detail-zone-info .hd span,
.detail-zone-com .hd span {
  background: #2283e6; }
.detail-zone-info .hd i,
.detail-zone-com .hd i {
  border-color: transparent #2283e6 transparent transparent; }

.detail-zone-about .hd span,
.detail-zone-list .hd span {
  background: #71b030; }
.detail-zone-about .hd i,
.detail-zone-list .hd i {
  border-color: transparent #71b030 transparent transparent; }

.detail-zone-info .bd {
  padding: 1rem 4%; }
  .detail-zone-info .bd table {
    width: 100%;
    border: 1px solid #d0d0d0; }
  .detail-zone-info .bd th, .detail-zone-info .bd td {
    padding: .5rem;
    border: 1px solid #d0d0d0; }
  .detail-zone-info .bd th {
    text-align: right;
    color: #333;
    font-weight: normal; }
  .detail-zone-info .bd td {
    color: #595959; }

.detail-zone-about .bd {
  padding: 1rem 4%; }
  .detail-zone-about .bd p {
    margin: 0 0 0.5rem 0;
    text-indent: 2rem; }

.detail-zone-serve .hd span {
  background: #eaa52e; }
.detail-zone-serve .hd i {
  border-color: transparent #eaa52e transparent transparent; }

.detail-zone-active .hd span {
  background: #f43d42; }
.detail-zone-active .hd i {
  border-color: transparent #f43d42 transparent transparent; }

.detail-zone-list .list {
  padding: 1rem 0; }
  .detail-zone-list .list .item {
    padding: .5rem 4%;
    border-bottom: 1px solid #d9d9d9; }

.detail-news {
  padding: 1rem 5%; }
  .detail-news .title {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: #000; }
  .detail-news .sub-title {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    color: #949494; }
  .detail-news .content {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 2;
    color: #595959; }
    .detail-news .content p {
      margin: 0 0 .5rem 0; }

.filter {
  position: relative;
  padding: 1rem 0;
  background: #fff;
  margin-bottom: 1rem;
  border-bottom: 1px solid #d0d0d0; }
  .filter:before, .filter:after {
    content: "";
    display: table; }
  .filter:after {
    clear: both; }
  .filter .item {
    text-align: center;
    float: left;
    width: 33.3%;
    height: 2rem;
    line-height: 2rem;
    color: #666;
    border-right: 1px solid #d0d0d0; }
    .filter .item:last-child {
      border-right: 0; }
    .filter .item i {
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: .5rem .5rem 0 .5rem;
      border-color: #2283e6 transparent transparent transparent; }
    .filter .item.active {
      color: #2283e6; }
      .filter .item.active i {
        border-width: 0 .5rem .5rem .5rem;
        border-color: transparent transparent #2283e6 transparent; }
      .filter .item.active .dropmenu {
        display: block; }
  .filter .dropmenu {
    display: none;
    position: absolute;
    left: 0;
    top: 4rem;
    text-align: center;
    background: #f0efed; }
    .filter .dropmenu a {
      display: inline-block;
      width: 25%;
      height: 3rem;
      margin: 1rem .5rem;
      line-height: 3rem;
      font-size: 1.2rem;
      text-align: center;
      background: #fff;
      border-radius: .3rem;
      color: #666; }
      .filter .dropmenu a:hover {
        background: #2283e6;
        color: #fff; }
      .filter .dropmenu a.active {
        background: #2283e6;
        color: #fff; }

.filter-block {
  padding: .5rem 1rem; }
  .filter-block .item {
    float: none;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #2283e6;
    border-radius: .3rem;
    text-align: left;
    padding: 0 1rem; }
    .filter-block .item:last-child {
      border-right: 1px solid #2283e6; }
    .filter-block .item i {
      margin-top: 1.25rem;
      float: right; }

.zone-list .item {
  background: #fff;
  padding: 1rem 4%;
  margin-bottom: 1rem;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1; }
  .zone-list .item .pic {
    width: 25%;
    float: left;
    margin-top: .5rem; }
    .zone-list .item .pic img {
      width: 100%;
      border: 1px solid #ececec;
      margin-bottom: 0.5rem; }
  .zone-list .item .cnt {
    margin-left: 28%; }
  .zone-list .item .title {
    margin-bottom: .5rem; }
    .zone-list .item .title a {
      color: #2283e6;
      font-size: 1.8rem; }
  .zone-list .item .info {
    font-size: 1.2rem;
    margin-right: -1rem; }
    .zone-list .item .info li {
      display: inline-block;
      margin-right: 1rem;
      color: #666; }
    .zone-list .item .info label {
      color: #f18d05;
      font-weight: normal; }

.expert-list .item {
  background: #fff;
  padding: 1rem 4%;
  margin-bottom: 1rem;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1; }
  .expert-list .item .pic {
    width: 25%;
    float: left;
    margin-top: .5rem; }
    .expert-list .item .pic img {
      width: 100%;
      border: 1px solid #ececec;
      margin-bottom: 0.5rem; }
  .expert-list .item .cnt {
    margin-left: 28%;
    font-size: 1.4rem; }
    .expert-list .item .cnt p {
      margin: 0; }
  .expert-list .item .name {
    color: #2283e6;
    font-size: 1.6rem; }
  .expert-list .item .rank {
    color: #f18d05; }

.btn {
  display: inline-block;
  text-align: center;
  height: 2.5rem;
  line-height: 2.5rem;
  background: #2283e6;
  color: #fff;
  border-radius: .3rem;
  box-shadow: 0px 2px 0 #1b69b8; }

.btn-secondary {
  background: #fea123;
  color: #fff;
  box-shadow: 0px 2px 0 #cb811c; }

.btn-block {
  width: 100%; }

.pic-hidden {
  height:8rem;
}
/*# sourceMappingURL=mobile.css.map */
